:root {
    --main-bg-color: #e0e0fe;
    --btn-bg-color: #d6d6f6;
}
.body, .form-select, .form-input {
    background-color: var(--main-bg-color) !important;
}
.btn {
    background-color: var(--btn-bg-color) !important;
}
::-webkit-file-upload-button {
    background-color: var(--btn-bg-color) !important;
    border: none;
}
    